:root {
    --body-background: whitesmoke;
    --fonce: #0d1321;
    --medium: #182a42;
    --normal: #365774;
    --light: #748cab;
    --bright: #d8eaf0;
}

/*************** NAVBAR ***************/

html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    /* font-family: 'Montserrat'; */
    font-family: 'Nunito';
    background-color: var(--fonce);
    color: var(--bright);
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
section {
    width: 800px;
    margin: 0 auto;
    flex-grow: 1;
    border-left: solid 1px var(--medium);
    border-right: solid 1px var(--medium);
}

.box-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
/* TABLET */

@media only screen and (max-width: 1200px) {
    section {
        width: 700px;
    }
}

/* PHONES */

@media only screen and (max-width: 800px) { 
    section {
        width: 100%;
    }
}
/*************** NAVBAR ***************/

nav {
    padding: 20px 20%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    font-size: 24px;
    top: 0;
    color: var(--bright);
    background-color: var(--fonce);
    border-bottom: solid 1px var(--medium);
}
nav .nav-head {
} 
nav .nav-head:hover {
    color: white ;
    transform: rotate(-30deg) scale(1.1);
}
nav .nav-items {
    display: flex;
}
nav .nav-item {
    padding: 0 5px;
}
nav .nav-item:hover {
    color: var(--light) ;
}

/* TABLET */

@media only screen and (max-width: 1200px) {
    nav {
        padding: 20px 10%;
    }
}

/* PHONES */

@media only screen and (max-width: 800px) { 
    nav {
        padding: 15px 15px;
    }
}
/*************** MAIN ***************/
header {
    border-bottom: solid 1px var(--medium);
    display: flex;
    padding: 15px;
    justify-content: space-between;
    gap: 15px;
}
h1 {
    font-size: 2rem;
    display: flex;
    gap: 20px;
}
h1 > span, a {
    margin: auto 0;
}
h2 {
    font-size: 1.25rem;
    padding: 10px;
    border-top: solid 1px var(--medium);
    border-bottom: solid 1px var(--medium);
}
header > .profile-description {
    font-size: 14px;
    color: var(--light);
    margin: auto 0;
    text-align: right;
}
hr {
    border: solid 0.5px var(--medium);
}

form {
    width: 400px;
    padding: 10px;
    margin: 30px auto;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.15);
    display: flex;
    background-color: var(--form-background);
    gap: 10px;
    flex-direction: column;
}
.msgErr {
    padding: 10px;
    color: red;
}
.msgSucc {
    padding: 10px;
    color: green;
}
form a {
    color: var(--light);
    text-decoration: underline;
}
input {
    font-family: unset;
    padding: 5px;
    border-radius: 5px;
    color: var(--bright);
    border: solid 1px var(--light);
    background-color: var(--fonce);
    transition: 0.3s;
}
input[type="submit"]{
    border: solid 1px var(--fonce);
    background-color: var(--medium);
}
input[type="submit"]:hover{
    background-color: var(--normal);
}
.profile-name {
    font-weight: bold;
    text-transform: uppercase;
}
.profile-image {
    height: 60px;
    width: 60px;
    border: solid 1px var(--medium);
}
.profile-image img {
    height: 60px;
    width: 60px;
}

.publications {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
.publication {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--medium);
    padding: 15px;
    gap: 10px;
}
.publication-user {
    text-transform: uppercase;
    font-weight: bold;
}
.publication-image {
    height: 20px;
    width: 20px;
    border: solid 1px var(--medium);
}

/* TABLET */

@media only screen and (max-width: 1200px) {
}

/* PHONES */

@media only screen and (max-width: 800px) { 
    form {
        width: 80%;
    }
}
/*************** FOOTER ***************/

footer {
    background-color: var(--fonce);
    color: var(--normal);
    padding: 20px;
    border-top: solid 1px var(--medium);
    display: flex;
    justify-content: space-between;
}

/* TABLET */

@media only screen and (max-width: 1200px) {

}

/* PHONES */

@media only screen and (max-width: 800px) { 
}